@font-face {
    font-family: 'PapyrusRegular';
    src: url('papyrus-regular.eot');
    src: url('papyrus-regular.eot') format('embedded-opentype'),
         url('papyrus-regular.woff') format('woff'),
         url('papyrus-regular.ttf') format('truetype'),
         url('papyrus-regular.svg#PapyrusRegular') format('svg');
    font-family: 'Museo';
    src: url('Museo300-Regular.otf');
}

body{font-size: 14px; color: #777; font-family: 'Museo', Arial; line-height: 20px;}
p{margin-bottom: 15px;}
.da-slide p {color: black;}
a:hover{color: #e65c08; text-decoration: none;}
li {line-height: 25px;}
h3 {font-size: 18px; line-height: 20px;}
h4 {font-size: 16px; font-weight: normal;}
.btn{font-family: Museo; font-weight: normal;}
.row {margin: 0}
.header{border-bottom: 1px dashed #d1d1d1; padding-bottom: 25px;}
.header .logo {padding-top: 20px; padding-left: 5%;}
.header .logo a:hover{border: none;}
.header .menu {padding-top: 80px; width: 54%;}
.header .menu ul{float: right; margin: 0;}
.header .menu li{display: inline; padding: 0 10px;}
.header .menu li a {
    color: #646363; font-size: 15px; 
    font-family: 'Museo', 'Myriad Pro', 'Droid Sans', sans-serif;
}
.header .menu li a:hover {
    text-decoration: none; 
    color: #646363; 
    border-bottom: 1px solid #e33f23;
}
.footer a:hover {
    color: #848484;
    border-bottom: 1px solid #e33f23;
}
.header .social { text-align: right; margin-left: 10px; padding-top: 78px; width: 10%;}
.header.social a {margin-right: 5px;}
img.facebook{width: 22px; height: 22px; background: url(../img/facebook.png) 0 0;}
a:hover img.facebook {background: url(../img/facebook.png) 0 -22px;}
img.twit{width: 21px; height: 22px; background: url(../img/twit.png) 0 0;}
a:hover img.twit {background: url(../img/twit.png) 0 -22px;}
img.ping {width: 24px; height: 23px; background: url(../img/ping.png) 0 0;}
a:hover img.twit{background: url(../img/ping.png) 0 -23px;}
.slider{overflow: hidden; background: url(../img/sliderbg.png) no-repeat 275px 0;}
.slider-content {
    background: url(../img/middle-shadow.png) no-repeat center bottom; 
    padding-bottom: 85px; 
    position: relative; 
    z-index: 1;
}
.fguid{
    background-color: #f9f9f9; 
    padding-top: 75px; 
    padding-bottom: 40px; 
    margin-top: -60px; 
    text-align: center;
}
.fguid h2{
    margin: 0;
    text-align: center;
    font-family: 'Museo', 'Myriad Pro', 'Droid Sans', sans-serif;
    font-size: 35px;
    color: #6f6f6f;
    font-weight: normal;
    margin-bottom: 40px;
}
.fguid ul{margin-top: 50px;}
.fguid ul li {
    text-align: left; 
    list-style: square; 
    font-family: Arial; 
    font-size: 15px; 
    color: #696969; 
    margin-bottom: 10px; 
    text-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}
.fguid ul li:last-child{margin-bottom: 0}
.fguid .we-send, .fguid .you-click{
    background: url(../img/right-arrow.png) no-repeat right 110px;
}
.you-click ul, .we-send ul, .they-fold ul {
    margin-left: 60px;
}
.fguid .they-fold img {margin-bottom: 10px;}
.subscribe-form {background-color: #bcbcbc; padding: 20px 0 0;}
.subscribe-form .subscribe-content{
    padding-left: 100px;
}
.subscribe-form .subscribe-content label{
    color: #585858; 
    font-size: 13px; 
    text-shadow: 0px 0px 1px rgba(0,0,0,0.2); 
    margin-right: 15px;
}
.subscribe-form .subscribe-content .input-large{
    background-color: #e7e7e7;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    height: 25px;
    margin-right: 15px;
    width: 292px;
}

.subscribe-form .subscribe-content .btn{
    background-color: #fff;
    background-image: none;
    color: #454444;
    height: 33px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
}
.subscribe-form .subscribe-content .btn:hover{
    background-color: #e33f23; color: #fff;
}

.footer {
    background-color: #808080;
    padding-top: 40px;
    border-top: 1px dashed #bcbcbc;
    padding-bottom: 38px;
}
.footer .footer-menu ul li{
    display: inline;
    list-style: none;
    padding:  0 10px;
}
.footer .footer-menu ul li a{
    color: #d5d5d5;
    text-shadow: 0px 0px 2px #999999;
    font-size: 12px;
}
.footer .footer-menu ul li a:hover{
    color: #d5d5d5;
    text-decoration: none;
    border-bottom: 1px solid #e33f23;
}

.footer .copyright{text-align: right; padding-right: 30px;}
.footer .copyright h4{
    font-size: 12px;
    text-shadow: 0px 0px 2px #999999;
    color: #d5d5d5;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}
.footer .copyright p{
    color: #b3b3b3;
    font-size: 11px;
    margin-bottom: 0;
}
.inner-top{
    background: url(../img/inner-top.png) no-repeat right top;
    background-color: #eeeeee;
    margin-top: 1px;
    padding-bottom: 20px;
    position: relative;
}
.inner-top h2{
    color: #777;
    font-size: 22px;
    font-family: 'Museo', 'Myriad Condensed Web', 'Droid Sans', sans-serif;
    line-height: 24px;
    font-weight: normal;
    text-shadow: 0px 0px 2px #fff;
    margin-top: 0;
}
.inner-top p{font-size: 13px; font-family: Museo; color: #848484;}
.inner-top .inner-content {
    padding-left: 30px;
    padding-top: 35px;
}
.inner-top img{
    position: absolute;
    right: 50px;
    bottom: -65px;
}
.home .content .alert {
    margin-top: 0px;
    margin-bottom: 75px;
}

.content .alert { margin-top: 65px;}
.content .dcontent .alert{margin-top: 25px;}
.content h2 {
    font-size: 30px;
    font-family: 'Museo', 'Myriad Condensed Web', 'Droid Sane', sans-serif;
    font-weight: normal;
    line-height: 20px;
    color: #555555;
    margin-bottom: 35px;
}
.content .dcontent{
    padding: 0 25px;
    margin-left: 0;
    margin-top: 47px;
    padding-bottom: 100px;
}
.header {
    position: relative;
    min-height: 111px;
}
.header .menu{width: 52%;}

#popup {
    width: 758px;
    left: 48%;
    background: transparent;
    border: none;
    box-shadow: 0 0 0 #000;
    top: 10px;
}
#popup .modal-body {
    max-height: 908px !important;
    overflow: scroll;
    padding:0; 
}

.message .enter-message{
    width: 350px;
    background-color: #E8E8E8;
    border: 1px solid #fff;
    color: #202020;
    height: 127px;
    border-radius: 0;
    -moz-box-shadow:inset 0px 0px 0px #eae9e9;
    -webkit-box-shadow:inset 0px 0px 0px #eae9e9;
    box-shadow:inset 0px 0px 0px #eae9e9;
    margin-bottom: 5px;
    font-family: PapyrusRegular;
}

#popup button.close{
    position: absolute;
    left: 51%;
    top: 5px;
    z-index: 1; 
}
#popup .modal-body  .cfrom-wapper {
    position: relative;
}
.cfrom-wapper .setp1 {
    position: absolute;
    left: 21%;
    top: 70px;
}
#upload {
    width: 58%;
    float: left;
}

.uploadfile{
    border: 1px solid #fbfbfb;
    background: #a7a7a7; /* Old browsers */
    background: -moz-linear-gradient(top,  #a7a7a7 0%, #919191 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7a7a7), color-stop(100%,#919191)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a7a7a7 0%,#919191 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a7a7a7 0%,#919191 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a7a7a7 0%,#919191 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a7a7a7 0%,#919191 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#919191',GradientType=0 ); /* IE6-9 */
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 0px 1px #d2d2d2;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    margin-right: 15px; 
    font-weight: normal;
    padding: 8px;
    display: inline-block;
    margin-bottom: 6px;
}

#thumbnail {
    float: right;
    width: 130px;
    margin-top: -10px;
    margin-right: 5px;
}
.cfrom-wapper .setp1 p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 13px;
}
#thumbnail img {
    border: 1px solid #fff;
    max-width: 130px;
    max-height: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.address{
  margin-left: 100px;
  margin-top: 2px;
  width:486px;
  height:323px;
  position: absolute;
  top: 317px;
}
.address .photocreate-form {
  margin-top: 20px;
  padding: 0 20px;
}


.address .photocreate-form input, .address .photocreate-form textarea{
    display: block;
    width: 435px;
    background-color: #e7e7e7;
    border: 1px solid #cccccc;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
     -moz-box-shadow:inset 0px 0px 0px #e7e7e7;
    -webkit-box-shadow:inset 0px 0px 0px #e7e7e7;
    box-shadow:inset 0px 0px 0px #e7e7e7;
}

.address .photocreate-form textarea {
    resize: none;
}

.address .photocreate-form h3 {
    margin: 0;
    color: #626262;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 8px;
}
.submit {
  position: absolute;
  top: 640px;
}  

.submit .submit-content {
    width:486px;
    margin: 0 110px 0 100px;
    text-align: center; 
    padding-top: 40px;
   /* padding-bottom: 90px;*/

}

submit .submit-content .btn, .editradd, .removeadd  {
    border: 1px solid #fbfbfb;
    background: #a7a7a7; /* Old browsers */
    background: -moz-linear-gradient(top,  #a7a7a7 0%, #919191 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7a7a7), color-stop(100%,#919191)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a7a7a7 0%,#919191 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a7a7a7 0%,#919191 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a7a7a7 0%,#919191 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a7a7a7 0%,#919191 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a7a7', endColorstr='#919191',GradientType=0 ); /* IE6-9 */
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 0px 1px #d2d2d2;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    font-weight: normal;
}

.submit-btn, .approve-btn {
    margin: 20px auto 0;
    display: block;
    text-align: center;
    
}
